{% include 'header.twig' %}
<div class="app-content">
   <div class="container-fluid">
{% if khalti_code %}

{{khalti_code}}

{% endif %}
      <section class="app-addfunds">
         <div class="row">
            <div class="col-lg-6 col-12 mb-5 mb-lg-0">
               <div class="d-card pt-3">
                  <div class="d-card-head">
                     <div class="dch-icon">
                        <i class="fal fa-credit-card"></i>
                     </div>
                    {{ lang['payment_method'] }}
                  </div>
                  <div class="d-card-body">
        {% if paymentsList %}
          <div class="g-card mb-3">
         <div class="g-card-body">
              <form method="post" action="addfunds">
			{% if error %}
			  <div class="alert alert-dismissible alert-danger">
				<button type="button" class="close" data-dismiss="alert">×</button>
				{{ errorText }}
			  </div>
			{% endif %}
			{% if success %}
			  <div class="alert alert-dismissible alert-success">
				<button type="button" class="close" data-dismiss="alert">×</button>
				{{ successText }}
			  </div>
			{% endif %}
                <div class="form-group">
                  <label for="method" class="control-label">{{ lang['addfunds.method'] }}</label>
                  
                  <select class="form-control" id="payment_method" name="payment_type" onchange="handleOrderType(this)">
                      
                   {% for payment in paymentsList %}
                      <option value="{{ payment['id'] }}" {% if data['payment_type'] == payment['id'] %} selected {% endif %} >{{ payment['method_name'] }}</option>
                    {% endfor %}
                  </select>
                </div>

                
                    <div class="fga mb-4 custom-payment-content"  >
                                       <br>
                                       <p>
                                           
                                            {% for payment in paymentsList %}


                <div class="mt-1 payment-description" data-id="{{ payment['id'] }}" {% if not loop.first %} style="display: none;" {% endif %}>
            <p>{{ payment['content'] }}</p>
                  </div>
													 
													{% endfor %}
                                           
                                       </p>
                                        </div>
                                        
                                        
                                        
                                        <script>
    document.getElementById('payment_method').addEventListener('change', function() {
        var selectedId = this.value;
        var descriptions = document.querySelectorAll('.payment-description');
        
        descriptions.forEach(function(desc) {
            if (desc.getAttribute('data-id') === selectedId) {
                desc.style.display = 'block';
            } else {
                desc.style.display = 'none';
            }
        });
    });
</script>
                                        
                                        
                                        
                                        
                                        						 <!-- Start -->
                
    <div id="qr">
  
              <form method="post" action="addfunds">

                    <div class="form-group">
                        <label for="method" class="control-label">Order ID</label>
                        <p>Enter Transaction/Order ID without spaces. Example - 202010122210100058</p>
                        <input class="form-control" name="paytmqr_orderid" value="{{ data['paytmqr_orderid'] }}">
                    </div>
                    
    
          </div>
    
    
    <!--end--->
                                        
                                        
                                        
                  <div class="form-group">
                      <label for="method" class="control-label">{{ lang['addfunds.amount'] }}     {{currency['symbol']}}</label>
                      <input class="form-control" name="payment_amount" value="{{ data['payment_amount'] }}">
                  </div>

                <button type="submit" class="btn btn-primary btn-block">{{ lang['addfunds.button'] }}</button>
              </form>
            </div>
          </div>
        {% endif %}
                  </div>
               </div>
            </div>
            
          
            <div class="col-lg-6 col-12 mb-5 mb-lg-0">
         <!--      <div class="d-card pt-3">
                  <div class="d-card-head">
                     <div class="dch-icon">
                        <i class="fal fa-history"></i>
                     </div>
                     {{ lang['bank_accounts'] }}
                  </div>
                  <div class="d-card-body" id="dc-body">-->
      

             <!--   <form method="post" action="addfunds">

                  <div class="form-group col-md-12">
                    <label for="method" class="control-label">{{ lang['addfunds.bank'] }}</label>
                    <select class="form-control" name="payment_bank">
                     {% for bank in bankList %}
                        <option value="{{ bank['id'] }}" {% if data['payment_bank'] == payment['id'] %} selected {% endif %} >{{ bank['bank_name'] }}</option>
                      {% endfor %}
                    </select>
                  </div>
               <div class="d-flex">
                    <div class="form-group col-md-6">
                        <label for="method" class="control-label">{{ lang['addfunds.bank.amount'] }}</label>
                        <input class="form-control" name="payment_bank_amount" value="{{ data['payment_bank_amount'] }}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="method" class="control-label">{{ lang['addfunds.bank.sender'] }}</label>
                        <input class="form-control" name="payment_gonderen" value="{{ data['payment_gonderen'] }}">
                    </div>
                    
                  </div>
                   <div class="form-group col-md-12">
                        <label for="method" class="control-label">Comprobante</label>
                        <p style="margin-bottom:-35px">Presiona aqui para subir tu comprobante</p>
                        <input type="file" class="form-control" name="payment_bank_image" style="opacity:0%" >
                    </div>
                    <div class="col-md-12">
                      <button type="submit" class="w-100 btn btn-primary">{{ lang['addfunds.bank.button'] }}</button>
                    </div>
                </form>-->
   


    <!--        <div class="g-card mb-3 mt-5 mt-md-1 h-100">
         <div class="g-card-body mt-3">

              <p style="text-align: center;">
                <span style="font-weight: 700; font-size: 25px;">{{lang["smmspot.addfunds.bank.accounts.title"]}}</span>
              </p>

              <div class="table-responsive">
                <table class="table table-striped table-bordered table-checkable text-white">
                  <thead>
                    <tr>
                      <th>{{lang["smmspot.addfunds.bank.accounts.bank.name"]}}</th>
                      <th>{{lang["smmspot.addfunds.bank.accounts.branch.code"]}}</th>
                      <th>{{lang["smmspot.addfunds.bank.accounts.account.number"]}}</th>
                      <th>{{lang["smmspot.addfunds.bank.accounts.iban"]}}</th>
                      <th>{{lang["smmspot.addfunds.bank.accounts.recipient.name"]}}</th>

                    </tr>
                  </thead>
                  <tbody>
                  {% for bank in bankList %}
                    <tr>
                      <td>{{ bank['bank_name'] }}</td>
                      <td>{{ bank['bank_sube'] }}</td>
                      <td>{{ bank['bank_hesap'] }}</td>
                      <td><b>{{ bank['bank_iban'] }}</b><br></td>
                      <td>{{ bank["bank_alici"] }}</td>
                    </tr>
                  {% endfor %}
                    </tbody>
                  </table>
                </div>

            </div>

      </div>
        </div>
      </div>-->


  
  
  <!-- start -->
  
  	<div class="col-lg- col-12 mb-3 mb-lg-0 mt-3">
                        <div class="d-card pt-3">
                           <div class="d-card-head">
                              <div class="dch-icon">
                                 <i class="fal fa-ticket-alt"></i>
                              </div>
                            {{ lang['addfunds.history'] }}
                           </div>
                           <div class="d-card-body" style="max-height: 450px; overflow: scroll;">
						   <table class="table">
                                    <thead>
                                        <tr>
                                            <td>ID</td>
                                            <td>{{lang["date"]}}</td>
                                            <td>{{lang["pay_method"]}}</td>
                                            <td>{{lang["payment_amount"]}}</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                           
                                         {% for payment in lastPaymentsList %}
              <tr>
                <td>{{payment['id']}}</td>
                 <td>{{payment['created_at']}} </td>  
                <td class="width-40">{{payment['payment_method']}}</td>
                <td >{{ payment['amount']|number_format(2) }}</td>
                
              </tr>
            {% endfor %}   
                                        
                                                                            </tbody>
                                </table>
		</div>
    </div>
    </div>

  
  <!-- end -->
  
  
  
                  </div>
               </div>
            </div>
         </div>

      </section>
   </div>
</div>
</div>

{% if kashier_code %}

 <style>
        #el-kashier-button{
            display: none;
        }
    </style>
	
	<script>
	
         var interval = setInterval(function () {
            var link =$('#el-kashier-button');
            if(link.length){
                link.click();
                clearInterval(interval);
            }
        }, 1000);
  
 
</script>

{{ kashier_code  }}

{{ unset_kashier_code  }}
{% endif %}


{% include 'footer.twig' %}


<script>
    
   $("#payment_method").on('change', function() {
       
        
       if($(this).val() == 21){
              $(".normal-payment").hide();
               $(".custom-payment-content").hide();
               $(".custom-payment-content-bkash").show();
       }
       else if($(this).val() == 34){
              $(".normal-payment").hide();
            $(".custom-payment-content-bkash").hide();
               $(".custom-payment-content").show();
       }
       else{
            $(".custom-payment-content").hide();
            $(".custom-payment-content-bkash").hide();
           $(".normal-payment").show();
       }
       
   });
</script>





<!-- start -->

<script>document.getElementById("qr").style.display = "none";


function handleOrderType(selectObject) {
var element = document.getElementById("qr");
var element2 = document.getElementById("ppqr");

if (selectObject.value == "14") {
element.style.display = "block";
element2.style.display = "none";
} else if (selectObject.value == "114") {
element.style.display = "none";
element2.style.display = "block";
} else {
element.style.display = "none";
element2.style.display = "none";
}
}
</script>

<!-- end -->




