
{% include 'header.twig' %}



 <!-- Main variables *content* -->
         <div class="app-content">
    <div class="container-fluid">
    
       <div class="d-card dc-dash">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-12">
                    <div class="py-3 px-5">
                        <div class="dch-title">
                            {{lang ['massorder.title']}}
                        </div>
                        <div class="dch-text">
                            {{lang ['massorder.desc']}}
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
        
        <br>

        <section class="neworder">
        
                <div class="row">
                    <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                        <div class="d-card">
                            
                            <div class="d-card-head">
                                <div class="dch-body">
                                     <i class="icon far fa-layer-plus me-3"></i>
                                     <span class="ml-3">                            {{lang ['massorder.title']}}
</span>
                                </div>
                            </div>
                            
                            <div class="d-card-body" id="dc-body">


                         {% if error %}
        <div class="alert alert-dismissible alert-danger {% if site['rtl'] %} rtl-alert {% endif %}">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ errorText }}
        </div>
      {% elseif success %}
        <div class="alert alert-dismissible alert-success {% if site['rtl'] %} rtl-alert {% endif %}">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ successText }}
        </div>
      {% endif %}


                            <form  method="post" action="/massorder">
                                                            
                               <!-- form-group end -->
                               <div class="form-group">
                                  <label>
                            {{lang ['massorder.info']}}
                                  </label>
                                   <textarea type="text" class="form-control" id="mass" name="mass" value="{{ data['mass'] }}" placeholder="service_id | link | quantity" rows="15"></textarea>
                               </div>
                               <!-- form-group end -->

                            
                               <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </form>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                        <div class="d-card">									
                            <div class="d-card-head">
                                <div class="dch-body">
                                     <i class="icon fas fa-question me-3"></i>
                                     <span class="ml-3">                                                                    {{lang ['massorder.title2']}}
</span>
                                </div>
                            </div>
                            <div class="d-card-body">
                                  
                                      
                                      <div class="ss-tab-content">
                                                                    {{lang ['massorder.example']}}

                 Format will be: <br><br>
                   915|/instagram.com/ejemplo|2500 <br>
 915|/instagram.com/ejemplo|1000 <br>
915|/instagram.com/ejemplo|500 <br>
915|/instagram.com/ejemplo|100 <br>
915|/instagram.com/ejemplo|350
                                               
                          <br>
 
                                             </span></p>
                                     
                                   
                                    
                                    
                  
                                    
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

    </div>
</div>
</div>



{% include 'footer.twig' %}