{% include 'header.twig' %}
   <div class="home-head">
      <div class="home-head-bg"></div>
      <div class="home-head-content">
         <div class="container" style="position: relative;">
            <div class="row align-items-center">
               <div class="col-lg-6 col-12">
                  <div class="hh-title">
                     The largest <span class="main-color">SMM Panel</span><br/> Services Provider
                  </div>
                  <div class="hh-text">
                     Welcome to {{ site["site_name"] }}, Get your high quality and cheapest followers and engagements directly to your social media profile.
                  </div>
                  <div class="hh-buttons">
                             <a href="/services" class="btn d-block d-md-inline-block btn-secondary">
                     All Services
                     </a>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="login-box">
                     <div class="login-form">
						{% if resetStep == 1 %}

      {% if errorText %}
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ errorText }}
        </div>
      {% endif %}
      {% if successText %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ successText }}
        </div>
      {% endif %}
	  
	          <form method="post" action="">

          <div class="form-group">
            <label for="username" class="control-label">{{ lang['resetpassword.user'] }}</label>
            <input type="text" class="form-control" name="user" value="{{ data['user'] }}">
          </div>

          <div class="form-group">
            <label for="username" class="control-label">{{ lang['resetpassword.type'] }}</label>
            <select class="form-control" name="type">
             {% for reset in resetType %}
              <option value="{{ reset['type'] }}">{{ reset['name'] }}</option>
             {% endfor %}
            </select>
          </div>


          {% if captcha %}
            <div class="form-group">
              <div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
            </div>
          {% endif %}

            <button type="submit" class="btn btn-primary click">{{ lang['resetpassword.button'] }}</button>
        </form>
		
		{% else %}
		
		      {% if errorText %}
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ errorText }}
        </div>
      {% endif %}
      {% if successText %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ successText }}
        </div>
      {% endif %}
	  
	          <form method="post" action="">

          <div class="form-group">
            <label for="username" class="control-label">{{ lang['account.password.new'] }}</label>
            <input type="password" class="form-control" name="password">
          </div>

          <div class="form-group">
            <label for="username" class="control-label">{{ lang['account.password.confirm'] }}</label>
            <input type="password" class="form-control" name="confirm_password">
          </div>

            <button type="submit" class="btn btn-primary click">{{ lang['resetpassword.button'] }}</button>
        </form>
		
		{% endif %}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   
   <section class="home-section">
		<div class="container">
			<div class="socials">
				 <div class="home-title text-center mb-5">
					<h2>{% if site['rtl'] %}منصاتنا{% else %}Our platforms{% endif %}</h2>
					<div class="divider d-flex justify-content-center"></div>
				 </div>
				<div class="row text-center">
					<div class="col-lg-1 col-2 pb-3">
						<i class="fab fa-instagram"></i>
					</div>
					<div class="col-lg-1 col-2 pb-3">
						<i class="fab fa-youtube"></i>
					</div>
					<div class="col-lg-1 col-2 pb-3">
						<i class="fab fa-twitter"></i>
					</div>
					<div class="col-lg-1 col-2 pb-3">
						<i class="fab fa-facebook-f"></i>
					</div>
					<div class="col-lg-1 col-2 pb-3">
						<i class="fab fa-tiktok"></i>
					</div>
					<div class="col-lg-1 col-2 pb-3">
						<i class="fab fa-telegram"></i>
					</div>
					<div class="col-lg-1 col-2 pb-3">
						<i class="fab fa-twitch"></i>
					</div>
					<div class="col-lg-1 col-2 pb-3">
						<i class="fab fa-spotify"></i>
					</div>
					<div class="col-lg-1 col-2 pb-3">
						<i class="fab fa-linkedin"></i>
					</div>
					<div class="col-lg-1 col-2 pb-3">
						<i class="fab fa-reddit"></i>
					</div>
					<div class="col-lg-1 col-2 pb-3">
						<i class="fab fa-steam"></i>
					</div>	
					<div class="col-lg-1 col-2 pb-3">
						<i class="fab fa-pinterest-p"></i>
					</div>						
				</div>
			</div>
		</div>
   </section>



{% for lang in site['languages'] %}
  {% if lang['active'] %}
    <script src="https://www.google.com/recaptcha/api.js?hl={{ lang['code'] }}"></script>
  {% endif %}
{% endfor %}
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0 bg-gray shadow">
            <div class="modal-body py-5">
					  {% if errorText %}
						<div class="alert alert-dismissible alert-danger">
						  <button type="button" class="close" data-dismiss="alert">×</button>
						  {{ errorText }}
						</div>
					  {% endif %}
					  {% if successText %}
						<div class="alert alert-dismissible alert-success">
						  <button type="button" class="close" data-dismiss="alert">×</button>
						  {{ successText }}
						</div>
					  {% endif %}
                    <form  method="post" action="">
                        <div class="mt-4">
                            <div class="input-group input-style">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ri-user-line icon-24"></i></span>
                                </div>
                                <input type="text" class="form-control input-style" name="username" placeholder="Kullanıcı adınızı girin." required>
                            </div>
                        </div>
                        <div class="mt-4">
                            <div class="input-group input-style">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ri-lock-line icon-24"></i></span>
                                </div>
                                <input type="password" class="form-control input-style" name="password" placeholder="Parolanızı girin." required>
                            </div>
                        </div>
                        <div class="mt-4 row text-left">
                            <div class="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="remember" name="remember">
                                    <label class="custom-control-label" for="remember">{{ lang['signin.remember'] }}</label>
                                </div>
                            </div>
							{% if resetPage %}
                            <div class="col-auto">
                                <a href="/resetpassword" class="text-dark">{{ lang['signin.password.lost'] }}</a>
                            </div>
							{% endif %}
                        </div>
                        <div class="mt-4">
						  {% if captcha %}
							<div class="form-group">
							  <div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
							</div>
						  {% endif %}
                        </div>
                        <div class="mt-4">
                            <button type="submit" class="btn btn-success d-block w-100">{{ lang['signin.button'] }}</button>
                        </div>
                    </form>
                    <div class="mt-4 text-right">
                        <a href="javascript:;" data-dismiss="modal" class="btn btn-danger btn-sm d-inline-flex align-items-center">Close<i class="ri-close-line ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .modal-backdrop.fade.show {
    display: none;
}
</style>
{% include 'footer.twig' %}